#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(228, 62%, 53%);
/*  position: relative;
    top: 100px;
    left: 100px; */
/*  position: fixed;
    right: 0;
    bottom: 0;*/
    position: sticky;
    top: 0;
}
#box2 {
    width: 100px;
    height: 100px;
    background-color: hsl(325, 100%, 55%);
    position: absolute;
    top: 50px;
    left: 50px;
}