.body{
    margin: 0;
}
.box{
    width: 175px;
    height: 175px;
    border: 5px solid;
    font-size: 10em;
    text-align: center;
    background-color: hsl(128, 100%, 68%);

/*  transform: translateX(100px);*/
/*  transform: translateY(100px);*/
/*  transform: translate(50px, 50px);*/
/*  transform: rotateX(180deg);*/
/*  transform: rotateY(180deg);*/
/*  transform: rotateZ(90deg);*/
/*  transform: scaleX(2);*/
/*  transform: scaleY(2);*/
/*  transform: scale(2, 0.5);*/
/*  transform: skewX(135deg);*/
/*  transform: skewY(135deg);*/
/*  transform: skew(135deg, 35deg);*/
/*  transform: translateX(100%) rotateZ(90deg) scale(0.5);*/
    transform: translateX(100px) rotateZ(45deg) scale(0.5);
}
#box1{
    background-color: hsl(0, 100%, 75%);
}
#box1{
    background-color: hsl(121, 100%, 76%);
}
#box1{
    background-color: hsl(192, 100%, 76%);
}
